@import "tailwindcss";

@theme {
  --color-main-red: #b33b3a;
}

body {
  font-family: var(--font-protest-revolution);
  background-image: url("/images/background.jpg");
  overflow: hidden;
}

button {
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
button:hover {
  scale: 1.1;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  30% {
    transform: translateX(0%);
  }

  70% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  60% {
    opacity: 1;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flow {
  0% {
    transform: translateX(-10vw);
  }

  100% {
    transform: translateX(180vw);
  }
}

.animate-stamp {
  animation: stamp 0.75s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.animate-slide {
  animation: slide 3s ease-in-out;
  animation-fill-mode: both;
}

.animate-flow {
  animation: flow 30s linear infinite;
  animation-fill-mode: both;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}
