@import "tailwindcss";

@theme {
  --color-main-red: #b33b3a;
}

body {
  font-family: var(--font-protest-revolution);
  background-image: url("/images/background.jpg");
  overflow: hidden;
}

button {
  cursor: pointer;
}
